# WebRTC
selenium
undetected_chromedriver
get-gecko-driver

# GUI
pyautogui
opencv-python
scikit-image
pywinauto

# CorePatched
requests_mock

# TestServer
flask
pyseto

#Wrap exe
httpx
paramiko
pyyaml
PyJWT
cryptography
