requests
requests[socks]
pyperclip>=1.8, <1.9
bitmath
sentry_sdk>=1.41, <2.0
psutil
chardet
aiortc==1.14.0
av<16.1.0
tqdm
signalslot
babel>=2.12.0
segno

lief>=0.16.3; sys_platform != "win32"

uvloop; sys_platform != "win32"
winloop; sys_platform == "win32"

